
    {% extends 'base.html' %}
    {% block content %} 

    <!-- <h1>Bird Details</h1> -->
    <h1>{{ bird.name }}</h1>
    <hr>

    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ bird.name }}</span>
            <p>Breed: {{ bird.breed }}</p>
            <p>Description {{ bird.description }}</p>
            {% if bird.age > 0 %}
            <p>Age: {{ bird.age }}</p>
            {% else %}
            <p>Age: {{bird.breed}}-ling</p>
            {% endif %}
        </div>
        <div class="class card-action">
            <a href="{% url 'birds_update' bird.id %}">Edit</a>
            <a href="{% url 'birds_delete' bird.id %}">Delete</a>
        </div>
    </div>
    

    {% endblock %}
